html
    head
        title ini Parent pug
    body
        block content
            div
                span ini span parent
            div
                span ini span parent
        block footer
            footer 
                h3 ini footer    
    