html
    include header.pug
    body
        include important-nav.pug
        div(style=`
            background-color : crimson
        `)  
            h3 ini Dari includes.pug
    include footer.pug                   